pg_db: burwell
pg_host: localhost
pg_user: you
pg_port: 5432
pg_passwd: your_password

mysql_host: localhost
mysql_user: you
mysql_passwd: your_password
mysql_db: macrostrat
#mysql_socket: /var/tmp/mariadb.sock
mysql_socket: /tmp/mysql.sock

redis_port: 6379

cache_path: ./tiles/burwell
cache_path_vector: ./tiles/burwell

tileserver_secret: ''
mbtiles_path: ''
