.burwell {
   line-width: 1;
   line-color: #777;
}

.burwell[zoom>3][zoom<6] {
  line-width: 0.4;
  line-color: #777;
}
.burwell[zoom=5] {
  line-width: 0.8;
}
.burwell[zoom=6] {
  line-width: 0.6;
}
.burwell[zoom=7] {
  line-width: 1.15;
}
.burwell[zoom=8] {
  line-width: 1.8;
}
.burwell[zoom=9] {
  line-width: 1.65;
}
.burwell[zoom=10] {
  line-width: 3.75;
}
.burwell[zoom>10] {
  line-width: 3;
  line-color: #777;
}
.burwell[zoom=11] {
  line-width: 3;
}
.burwell[zoom=12] {
  line-width: 4;
}
.burwell[zoom=13] {
  line-width: 5;
}


.burwell[color="null"] {
   polygon-fill: #777777;
}
.burwell[color=null] {
   polygon-fill: #777777;
}
.burwell[color=""] {
   polygon-fill: #777777;
}
