#
# .gitignore file for paleobiodb base repository

*~
/.install
/.services
/.copymap
archives/
certs/
command/MYMETA.*
command/Makefile
command/blib
command/pm_to_blib
command/lib/PMCmd/Path.pm
command/lib/PMCmd/Install_*.pm
/config.yml
command/.installtime
/component-data.yml
/component-data.override.yml
datalogs/
/docker-compose.yml
/docker-compose.override.yml
frontend/
images/
logs/
mariadb/
msutils/
postgresql/
/setup.yml
/setup.override.yml
volumes/
/website.yml

