[submodule "deps/topology-manager"]
	path = submodules/topology-manager
	url = https://github.com/Mapboard/topology-manager.git
[submodule "submodules/postgis-tile-utils"]
	path = submodules/postgis-tile-utils
	url = https://github.com/UW-Macrostrat/postgis-tile-utils
[submodule "submodules/storage-admin"]
	path = submodules/storage-admin
	url = https://github.com/UW-Macrostrat/radosgw_admin_client
[submodule "submodules/column-ingestion"]
	path = submodules/column-ingestion
	url = https://github.com/Macrostrat/column-ingestion.git
