[project]
name = ""
version = "0.0.1"
requires-python = "~=3.11"
dependencies = [
    "setuptools>=75.8.2,<76",
    "macrostrat.cli",
]

[dependency-groups]
gis = ["macrostrat.cli[gis]"]
dev = [
    "black>=24.8.0,<25",
    "isort>=5.13.2,<6",
    "pytest>=8.3.2,<9",
]

[tool.uv]
package = false
default-groups = [
    "gis",
    "dev",
]

[tool.uv.sources]
"macrostrat.cli" = { path = "./cli", editable = true }

[tool.black]
line-length = 88
extend-exclude = "__archive"

[tool.isort]
profile = "black"
known_first_party = "macrostrat"

[tool.pytest.ini_options]
markers = [
    "docker: marks tests as requiring a docker container",
    "requires_gdal: marks tests as requiring GDAL",
]
