# for the s3 bucket backup service
S3_ENDPOINT=s3.endpoint.path
S3_ACCESS_KEY=accessaccessaccess
S3_SECRET_KEY=secretsecretsecret
S3_BACKUP_BUCKET=db-backups

#password for connecting to ssh postgres on gunnison
PGPASSWORD=safepassword

########################### Below this line are mandatory ###############################

# postgres user used for connecting to database in postgrest
PGUSER=postgres
POSTGRES_DB=column_data
POSTGRES_TEST_DB=col_test

# port the postgres instance is exposed locally
PG_PORT=5434
PGRST_JWT_SECRET=reallyreallyreallyreallyverysafesafesafesafe

# postgrest db uri
PGRST_DB_URI=postgres://${PGUSER}:@db:5432/${POSTGRES_DB}

## frontend env vairables
NEXT_PUBLIC_SERVER_URL=http://postgrest:3000
NEXT_PUBLIC_CLIENT_URL=http://localhost:3001

## Docker-Profiles
## This allows you to disable the frontend container and run dacite locally.
## remove frontend_dev and only the postgrest and db container will start
COMPOSE_PROFILES=frontend_dev,dev