# Macrostrat.local domain is served by orbstack
localhost, macrostrat.local {
    tls internal

    handle_path /api/v2/* {
        reverse_proxy api_v2:5000
    }

    handle_path /api/v3/* {
        reverse_proxy api_v3:80
    }

    handle_path /api/pg/* {
        reverse_proxy postgrest:3000
    }

    handle_path /tiles/* {
        reverse_proxy tileserver:8000
    }

    handle_path /* {
        reverse_proxy web:3000
    }
}

storage.macrostrat.local {
    tls internal
    reverse_proxy storage:9000
}

storage-ui.macrostrat.local {
    tls internal
    reverse_proxy storage:9001
}
