[project]
name = "api"
version = "2.3.1"
description = ""
authors = [{ name = "Cannon Lock", email = "clock@wisc.edu" }]
requires-python = ">=3.11,<4"
readme = "README.md"
dependencies = [
    "sqlalchemy[asyncio]>=2.0.22,<3",
    "python-dotenv>=1.0.0,<2",
    "pytest>=7.4.3,<8",
    "fastapi>=0.104.0,<0.105",
    "httpx>=0.25.0,<0.26",
    "asyncpg>=0.28.0,<0.29",
    "pytest-asyncio>=0.21.1,<0.22",
    "uvicorn>=0.23.2,<0.24",
    "geoalchemy2>=0.14.2,<0.15",
    "geojson-pydantic>=1.0.1,<2",
    "pyjwt>=2.8.0,<3",
    "werkzeug>=3.0.1,<4",
    "aiohttp>=3.8.6,<4",
    "python-jose[cryptography]>=3.3.0,<4",
    "bcrypt>=4.1.1,<5",
    "minio>=7.2.3,<8",
    "numpy>=1.26.4,<2",
    "python-multipart>=0.0.9,<0.0.10",
    "python-slugify>=8.0.4,<9",
]

[dependency-groups]
dev = [
    "bandit>=1.7,<1.8",
    "black>=23.10,<23.11",
    "isort>=5.12,<5.13",
    "mypy>=1.6,<1.7",
    "pylint>=3.0,<3.1",
    "safety>=2.3,<2.4",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.black]
line-length = 96
target-version = ["py311"]

[tool.isort]
line_length = 96
profile = "black"

[tool.mypy]
explicit_package_bases = true
namespace_packages = true

check_untyped_defs = true
strict_optional = true
no_implicit_optional = true

warn_no_return = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_ignores = true

color_output = false
pretty = true
show_error_codes = true

incremental = true
sqlite_cache = true

[tool.pylint.messages-control]
max-line-length = 96
disable = "invalid-name,missing-class-docstring,missing-function-docstring"
