.DS_Store
.AppleDouble
.LSOverride
.venv

credentials.yml
setup/credentials.py
*.pyc

unprojected.*
*.log

node_modules
tiles/node_modules
tiles/tiles
tiles/:memory
tiles/*.xml
tiles/credentials.js
tiles/compiled_styles

elevation/srtm1/downloads/*

