.DS_Store
.AppleDouble
.LSOverride

setup/credentials.py
*.pyc

unprojected.*
*.log

node_modules
tiles/node_modules
tiles/tiles
tiles/:memory
tiles/*.xml
tiles/credentials.js

elevation/srtm1/downloads/*

