.DS_Store
.AppleDouble
.LSOverride
.venv
__pycache__

credentials.yml
setup/credentials.py
*.pyc

unprojected.*
*.log
tiles/node_modules
tiles/tiles
tiles/:memory
tiles/*.xml
tiles/credentials.js
tiles/compiled_styles

elevation/srtm1/downloads/*
.env

