pg_db: burwell
pg_host: localhost
pg_user: You
pg_port: 5432
pg_passwd: your_password

mysql_host: localhost
mysql_user: your_name
mysql_passwd: your_password
mysql_db: macrostrat
#mysql_socket: /var/tmp/mariadb.sock
mysql_socket: /tmp/mysql.sock

system_user: your_name
