exports.pg = {
  host     : 'localhost',
  port     : '5432',
  user     : 'you',
  password : 'password'
};

exports.settings = {
  cachePath: '/path/to/tiles/burwell',
  configPath: '/path/to/config/files',
  port: 7890,
}
