name: Install and run `macrostrat` test suite

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  install-and-test:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: "Set up Python"
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true

    - name: Install system dependencies (GDAL)
      run: |
        sudo apt update
        sudo apt install -y gdal-bin libgdal-dev python3-dev

    - name: Install dependencies and build macrostrat
      run: make all

    - name: Run macrostrat tests
      run: make test
